/* * {
    border: 1px solid white;
} */

body {
    color: #F2F3D9;
    background-color: #030027;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.site-title {
    color: #C16E70;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    width: fit-content;
    margin: 76px auto 76px;
}

.navigation {
    margin: auto;
    width: fit-content;
    padding-left: 0px;
}

.nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    padding: 24px;
    background-color: #DC9E82;
    border-radius: 24px;
}

.nav-link {
    text-decoration: none;
    padding: 12px;
}

.hero {
    background-color: #151E3F;
    padding: 48px;
    width: fit-content;
    margin: 24px auto;
    border-radius: 24px;
}

.hero-img {
    display: inline-block;
}

.recipe-image {
    width: 360px;
    height: auto;
    border-radius: 12px;
}

.hero-text {
    display: inline-block;
    /* margin-left: 64px; */
    width: 440px;
    margin-left: 48px;
}

.hero-p {
    display: inline;
}
