/* * {
    border: 1px solid black;
} */

body {
    background-color: #F5F8DE;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.site-title {
    color: #9E2B25;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    width: fit-content;
    margin: 24px auto 48px;
}

.navigation {
    margin: auto;
    width: fit-content;
    padding-left: 0px;
}

.nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    padding: 24px;
    background-color: #DC9E82;
    border-radius: 24px;
}

.nav-link {
    display: inline-flex;
}

.recipe-image {
    width: 360px;
    height: auto;
    margin-bottom: 36px;
}
