/* * {
    border: 1px solid black;
} */

body {
    color: #F2F3D9;
    background-color: #030027;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.site-title {
    color: #C16E70;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    width: fit-content;
    margin: 76px auto 76px;
}

.navigation {
    margin: auto;
    width: fit-content;
    padding-left: 0px;
}

.nav {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    padding: 24px;
    background-color: #DC9E82;
    border-radius: 24px;
}

.nav-link {
    text-decoration: none;
    padding: 12px;
}

.recipe-image {
    width: 360px;
    height: auto;
    margin-bottom: 36px;
}
